html, body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #121212;
}

* {
    color: white;
}


#main {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.glow-title {
    font-family: 'Dokdo', sans-serif;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.495),
                 0 0 40px rgba(255, 255, 255, 0.428),
                 0 0 60px rgba(255, 255, 255, 0.276);
    animation: hueShift 5s linear infinite;
}

@keyframes hueShift {
    0%   { color: hsl(0, 93%, 64%); }
    10%  { color: hsl(36, 99%, 64%); }
    20%  { color: hsl(72, 86%, 54%); }
    30%  { color: hsl(108, 100%, 64%); }
    40%  { color: hsl(144, 100%, 64%); }
    50%  { color: hsl(180, 100%, 64%); }
    60%  { color: hsl(216, 100%, 64%); }
    70%  { color: hsl(252, 100%, 64%); }
    80%  { color: hsl(288, 100%, 64%); }
    90%  { color: hsl(324, 100%, 64%); }
    100% { color: hsl(360, 100%, 64%); }
}


.glow-button {
    animation: buttonGlow 5s linear infinite;
}

@keyframes buttonGlow {
    0%   { box-shadow: 0 0 8px hsl(0, 100%, 50%), 0 0 20px hsl(0, 100%, 50%); }
    10%  { box-shadow: 0 0 8px hsl(36, 100%, 50%), 0 0 20px hsl(36, 100%, 50%); }
    20%  { box-shadow: 0 0 8px hsl(72, 100%, 50%), 0 0 20px hsl(72, 100%, 50%); }
    30%  { box-shadow: 0 0 8px hsl(108, 100%, 50%), 0 0 20px hsl(108, 100%, 50%); }
    40%  { box-shadow: 0 0 8px hsl(144, 100%, 50%), 0 0 20px hsl(144, 100%, 50%); }
    50%  { box-shadow: 0 0 8px hsl(180, 100%, 50%), 0 0 20px hsl(180, 100%, 50%); }
    60%  { box-shadow: 0 0 8px hsl(216, 100%, 50%), 0 0 20px hsl(216, 100%, 50%); }
    70%  { box-shadow: 0 0 8px hsl(252, 100%, 50%), 0 0 20px hsl(252, 100%, 50%); }
    80%  { box-shadow: 0 0 8px hsl(288, 100%, 50%), 0 0 20px hsl(288, 100%, 50%); }
    90%  { box-shadow: 0 0 8px hsl(324, 100%, 50%), 0 0 20px hsl(324, 100%, 50%); }
    100% { box-shadow: 0 0 8px hsl(360, 100%, 50%), 0 0 20px hsl(360, 100%, 50%); }
}

.glow-text {
    display: inline-block;
    color: white;
    text-shadow: 0 0 8px rgba(255,255,255,0.8),
                 0 0 20px rgba(255,255,255,0.6),
                 0 0 40px rgba(255,255,255,0.4);
    animation: hueShift 9s linear infinite;
}